* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  font-family: "Kanit", sans-serif;
}

.bg-image {
  background: linear-gradient(0deg, rgb(255, 69, 0), rgba(11, 7, 0, 0.682)),
    url(../images/pokemon-bg.jpg);
  /* background-image: url(../images/pokemon-bg.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-name {
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  letter-spacing: 2px;
}

.pokemon-img {
  margin: 1.5rem auto;
  display: block;
  width: 300px;
}

#close-btn {
  display: none;
}

.pokemon-species {
  font-size: 18px;
  margin-top: 10px;
}
.pokemon-type {
  margin-top: 1rem;
}
.pokemon-type-span {
  background-color: #ffc40c;
  color: #0f0e0e;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.pokemon-info-container {
  max-width: 500px;
  padding: 1rem;
  margin: 1.2rem auto;
  height: 550px;
  /* overflow: auto; */
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 2rem;
  background-color: aquamarine;
  cursor: pointer;
}

/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ff5a5a 0,
    #8b0000 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #e0473c 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e03c44 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #ffc40c;
}

.btn:active {
  box-shadow: #e60707 0 3px 7px inset;
  transform: translateY(2px);
}
