* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  font-family: "Kanit", sans-serif;
}

.bg-image {
  background-image: url(../images/loading-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon-name {
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pokemon-img {
  margin: 1.5rem auto;
  display: block;
  width: 250px;
}

#close-btn {
  display: none;
}

.pokemon-species {
  font-size: 18px;
  margin-top: 10px;
  color: antiquewhite;
}
.pokemon-type {
  margin-top: 1rem;
  padding: 1rem;
}
.pokemon-type-span {
  display: inline-block;
  background-color: #ffc40c;
  color: #0f0e0e;
  padding: 5px 10px;
  margin: 0.3rem 0.2rem;
  border-radius: 5px;
}

.pokemon-info-container {
  max-width: 500px;
  padding: 1rem;
  margin: 1rem auto;
  height: 560px;
  /* overflow: auto; */
}

.info-wrapper {
  margin-bottom: 5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  position: relative;
  left: 450px;
  border: none;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
}

/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ff5a5a 0,
    #8b0000 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #e0473c 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 6px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 10px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9b111e 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #e60707 0 3px 7px inset;
  transform: translateY(2px);
}

/* STYLES FOR TYPE SPAN */

.grass-type {
  background-color: #008000;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.fire-type {
  background-color: #b22222;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.water-type {
  background-color: #00bfff;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.poison-type {
  background-color: #69359c;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.rock-type {
  background-color: #555555;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.ground-type {
  background-color: #987654;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.normal-type {
  background-color: #f4f0ec;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.flying-type {
  background-color: #b19cd9;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.fairy-type {
  background-color: #ff77ff;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.psychic-type {
  background-color: #f1a7fe;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.bug-type {
  background-color: #b0c24a;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.electric-type {
  background-color: #f5c71a;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.ice-type {
  background-color: #b9f2ff;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.fighting-type {
  background-color: #c19a6b;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.ghost-type {
  background-color: #856088;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.dark-type {
  background-color: #6b4423;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.steel-type {
  background-color: #848482;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.dragon-type {
  background-color: #9966cc;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Pokemon stats */

.pokemon-stats {
  margin-bottom: 0.2rem;
}

/* #FF7F0F bad, #A0E515 great, #23CD5E excellent, #FFDD57, #F34444 extra bad */

/* #00C2B8 extrodinary high level HP clyoster pokemon*/
/* Add Mewtwo */
