* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokemon-img {
  margin: 1.5rem auto;
  display: block;
  width: 350px;
}

#close-btn {
  display: none;
}

.pokemon-type-span {
  background-color: #8f1f1f;
  color: #110e0e;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.pokemon-info-container {
  max-width: 650px;
  background-color: aqua;
  padding: 2rem;
  margin: 2rem auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
